:root {
  --custom-height: calc(100vh - 60px);
  --tinggi_logo: 40px;
}

body,
html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #6699c2; /* Sesuaikan dengan warna latar belakang Anda */
  color: #fff; /* Warna teks putih */
  box-sizing: border-box;
  width: 100%;
  position: fixed; /* Membuat header tetap di atas */
  top: 0;
  left: 0;
  z-index: 1000; /* Pastikan header berada di atas elemen lain */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Sesuaikan dengan tinggi logo */
  margin-right: 10px; /* Jarak antara logo dan nama sekolah */
}

.logo span {
  font-size: 18px; /* Sesuaikan dengan ukuran teks */
  white-space: nowrap; /* Mencegah teks nama sekolah melipat ke baris berikutnya */
}

.user-group {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#userLink {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

#userLink:hover {
  text-decoration: none;
}

#toggleSidebar {
  font-size: 24px; /* Ukuran ikon toggle */
  background: none;
  border: none;
  color: #fff; /* Warna teks putih */
  cursor: pointer;
}

.dropdown {
  display: none; /* Sembunyikan dropdown secara default */
  position: absolute;
  top: 100%; /* Posisikan dropdown di bawah elemen user-info */
  right: 0; /* Sejajarkan dropdown dengan kanan elemen user-info */
  background-color: #d3e5f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 3px 3px;
}

.dropdown li a {
  color: #fff;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #575757; /* Warna latar saat dihover */
}

.container {
  display: flex;
  /* grid-template-columns: 250px 1fr; /* Atur lebar sidebar sesuai keinginan Anda */
  /* grid-template-rows: 1fr; */
  height: 100vh;
}

.sidebar {
  background-color: #333;
  width: 250px;
  position: relative;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 999;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 50px;
  margin-left: 250px;
  transition: margin-left 0.3s;
  box-sizing: border-box;
  overflow-y: auto;
}

.alamat {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 20px;
  background-color: #d8e5f3; /* Optional background color */
  color: #0c0c0c; /* Optional text color */
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px;
  transition: 0.3s;
}

.menu li a:hover {
  background-color: #555;
}

.submenu ul {
  display: none;
}

.submenu:hover ul {
  display: block;
}

#submenuReferensi {
  line-height: 8px;
  display: none;
}

#submenuReferensi.show {
  display: block;
}

#submenuKalender {
  line-height: 8px;
  display: none;
}

#submenuKalender.show {
  display: block;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.submenu ul {
  list-style-type: none;
  padding: 0 15px;
}

#logoutDropdown a {
  color: black;
  padding: 0px 16px; /* Mengatur padding atas dan bawah menjadi 8px */
  text-decoration: none;
  display: block;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  #toggleSidebar {
    display: none;
  }

  .close-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #toggleSidebar {
    display: block; /* Tampilkan tombol garis tiga pada perangkat mobile */
  }

  .sidebar {
    width: 0;
    position: fixed;
  }

  .container {
    grid-template-columns: 100%; /* Mengubah layout menjadi satu kolom */
  }

  .content {
    margin-left: 0;
    width: 100%; /* Mengisi sisa ruang */
    max-width: 100%; /* Tambahkan ini */
  }

  .sidebar.active {
    width: 200px; /* Atur ulang lebar sidebar saat tombol garis tiga diklik */
  }

  .close-btn {
    display: block;
  }

  .dropdown {
    right: 50px;
    margin-top: 5px;
  }
}

.aktif {
  color: rgb(241, 220, 110) !important;
  font-weight: bold;
}

.show {
  display: block;
}
